@media (max-width: 768px) {

    #znanja {
        padding-top: 50px;
    }

    #delovne_izkusnje div.timeline-content h5 {
        text-align: center !important;
    }

    #znanja .box-content .img-contain {
        top: -73px;
    }
}