footer{
    height: 340px;
    align-items: center;
    text-align: center;
    color: #FF6138;
    background: #2c3135;

}

@media (max-width: 1200px)  and (min-width: 766px) {

    footer{
        min-height: 55vh;
    }
}

footer a{
    color: white;
}

footer a:hover{
    color: #FF6138;
    text-decoration: none;
}

footer h1{
    padding: 30px 0px !important;
}

footer i{
    padding: 30px;
}

.ft{
    background:#2c3135;
}